# Capacitor
CAPACITOR_SERVER_URL=

# Alchemy
CHAIN_ID=
ALCHEMY_API_KEY=
ALCHEMY_RPC_URL=

# Smart Contract
CONTRACT_ADDRESS=

# Service Private Key
PRIVATE_KEY=

# Kakao OAuth
NEXT_PUBLIC_KAKAO_CLIENT_ID=
NEXT_PUBLIC_KAKAO_REDIRECT_URI=
KAKAO_CLIENT_SECRET=

# Fix for Docker environment
NODE_ENV=

# Database
DATABASE_URL=

# Privy
PRIVY_APP_ID=
PRIVY_APP_SECRET=

# PortOne
NEXT_PUBLIC_PORTONE_STORE_ID=
NEXT_PUBLIC_PORTONE_CHANNEL_KEY=
PORTONE_SECRET_API_KEY=
PORTONE_API_BASE_URL=https://api.portone.io
