# Capacitor
CAPACITOR_SERVER_URL=

# Alchemy
CHAIN_ID=
ALCHEMY_API_KEY=
ALCHEMY_RPC_URL=

# Smart Contract
CONTRACT_ADDRESS=

# Service Private Key
PRIVATE_KEY=

# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
NEXT_PUBLIC_KAKAO_CLIENT_ID=
NEXT_PUBLIC_KAKAO_REDIRECT_URI=

# Fix for Docker environment
NODE_ENV=

# Database
DATABASE_URL=
